/* Fonts */

@font-face {
  font-family: "Cuprum";
  src: 
  url("../fonts/cuprum.woff2") format("woff2"),
  url("../fonts/cuprum.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: 
  url("../fonts/cuprumbold.woff2") format("woff2"),
  url("../fonts/cuprumbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: 
  url("../fonts/cuprumbolditalic.woff2") format("woff2"),
  url("../fonts/cuprumbolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Cuprum";
  src: 
  url("../fonts/cuprumitalic.woff2") format("woff2"),
  url("../fonts/cuprumitalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "PTSans";
  src: 
  url("../fonts/ptsans.woff2") format("woff2"),
  url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  src: 
  url("../fonts/ptsansbold.woff2") format("woff2"),
  url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* Variables */

:root {
  --basic-extra-dark-blue: #293449;
  --basic-blue: #32425C;
  --basic-light-grey: #F1F5F7;
  --basic-grey: #F3F7F9;
  --basic-midle-grey: #EAEAEA;
  --basic-neutral: #F9F5F0;
  --basic-red: #EE3643;
  --basic-white: #ffffff;
  --basic-white-opacity: rgba(255, 255, 255, 0.3);
  --basic-black: #000000;
  --basik-green: #63A63E;

  --special: #FFD180;
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-pink: #DC91D8;
  --special-green: #8ED78F;
  --special-grey: #A9A9A9;


}


/* Global */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  color: var(--basic-white);
  background-color: var(--basic-white);
}

/*main-header*/

.main-header {
  background-color: var(--basic-light-grey);
}

/*header-top*/

.header-top {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  background-color: var(--basic-extra-dark-blue);
  text-decoration: none;
}

.header-description {
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  font-style: italic;
  color: var(--basic-red);
}

.address {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: var(--basic-blue);
}

.contacts-phone {
  font-size: 21px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  color: var(--basic-red);
  background: var(--basic-grey);
  border: 3px solid #FFFFFF;
  padding: 7px 50px 8px 74px;
}

.header-actions{
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-black);
  background-color: var(--basic-white);
  opacity: 0,01%;
}

.login-link {
  padding: 12px 27px 12px 45px;
  text-decoration: none;
 }
 
 .check-in-link {
  padding: 12px 24px 12px 24px;
  text-decoration: none;
 } 



/*main-navigation*/
.main-navigation {
  list-style: none;
  text-decoration: none;
  background-color: var(--basic-blue);
  width: 940px;
  box-shadow: inset 0px -5px 0px var(--basic-extra-dark-blue);
}

.main-navigation-current a:not([href]) {
  background-color: var(--basic-black);
}

.header-navigation {
  list-style: none;
  text-decoration: none;
}

.header-top-order{
  background-color: var(--basik-green);
  padding: 9px 16px 9px 19px;
}

.header-top a,
.main-navigation a {
  color: var(--basic-white);
}

.header-top a:hover,
.header-top a:focus,
.main-navigation a:hover,
.main-navigation a:focus {
  background-color: var(--basic-extra-dark);
}

/*button*/

.button {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  width: 192px;
  padding-top: 11px;
  padding-bottom: 9px;
  text-transform: uppercase;
  background-color: var(--basic-red);
  text-decoration: none;
  text-align: center;
  display: block;
}


/*categories*/

.categories-link {
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  width: 135px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: var(--basic-white-opacity);
  mix-blend-mode: normal;
  text-decoration: none;
  text-transform: uppercase;
}

.categories-item {
  width: 300px;
}

.categories-title {
  font-size: 24px;
  line-height: 30px;
}



.categories-material{
  background-color: var(--special-yellow);
}

.categories-tool{
  background-color: var(--special-blue);
}

.categories-technics{
  background-color: var(--special-pink);
}

.categories-sales {
  background-color: var(--special-green);
}

.categories-delivery {
  background-color: var(--special-yellow);
}

.categories-navigation-left,
.categories-navigation-right {
  background-color: var(--basic-black);
}


/*popular*/

.popular-subject {
  font-family: "PT Sans";
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: var(--basic-black);
}

.popular-title,
.producers-title {
  background-color: var(--basic-neutral);
  width: 940px;
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 28px;
  text-transform: uppercase;
  color: var(--basic-blue);
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
}



.popular-item {
  border: 1px solid var(--basic-midle-grey);
  width: 220px;
  height: 318px;
}


.price-old {
  color: var(--special-grey);
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
  text-align: center;
}

.price-new {
  color: var(--basic-white);
  background-color: var(--basic-red);
  padding: 10px 44px 10px 32px;
}

.popular-title,
.producers-title {
  background-color: var(--basic-neutral);
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 28px;
  text-transform: uppercase;
  color: var(--basic-blue);
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
}




/*producers*/

.producers-item {
  width: 220px;
  height: 145px;
  border: 1px solid var(--basic-midle-grey);
}


/*service*/

.service{
  font-size: 30px;
  line-height: 30px;

  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), var(--light-grey);
}

.service-description {
  font-family: "PT Sans";
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.service-title {
  color: var(--basic-black);
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;

}


.delivery-description {
  font-family: "PT Sans";
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.delivery-title {
  color:var(--basic-blue);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.service-button {
  font-size: 21px;
  line-height: 30px;
  width: 240px;
  height: 61px;
  padding-top: 15px;
  padding-left: 22px;
  padding-bottom: 15px;
  text-align: left;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  border: none;
  box-shadow: 0px 1px 0px #293449, 
        inset 0px 1px 0px #405069;
}


.service-button.active {
  color: var(--basic-blue);
  background-color: var(--basic-white);
  box-shadow: none;
}
/*about*/

.about-title {
  color: var(--basic-black);
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
}

.about {
  color: var(--basic-black);
  font-family: PT Sans;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

.button-contacts {
  font-family: "Cuprum";
  font-size: 14px;
  line-height: 18px;
  width: 300px;
  height: 38px;
}

.button-about {
  font-family: "Cuprum";
  font-size: 14px;
  line-height: 18px;
  width: 220px;
  height: 38px;
}

.about-info-item {
  color: var(--basic-black);
  font-size: 18px;
  line-height: 24px;
}


/*footer*/

.footer-top {
  color: var(--basic-white);
  font-size: 18px;
  line-height: 24px;
  background-color: var(--basic-blue);
}

.footer-contacts-phone {
  text-decoration: none;
  color: var(--basic-white);
}

.footer-nav a{
  list-style: none;
  color: var(--basic-white);
  text-decoration: none;
  background-color: var(--basic-blue);

}

.footer-nav-yellow a{
  color: var(--special);
}

.footer-bottom {
  background-color: var(--basic-extra-dark-blue);
  font-size: 16px;
  line-height: 18px;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-white);
}

.footer-develop :hover,
.footer-develop :focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.footer-feedback :hover,
.footer-feedback :focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.footer-feedback a {
  color: var(--special);
  text-decoration: none;
}

.footer-develop a {
  color: var(--special);
  text-decoration: none;
}
